* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #19388A, #4F91CD);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 390px;
}

.formContainerPlayer {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
}

.whole {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    margin-top: 15px;
    color: #000;
    font-size: 1.1rem;
    text-align: center;
}

.player_input_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.player_input_grid .input_box {
    width: 48%;
}

.form-control{
    border-radius: 10px;
    outline: none;
}

.form-control:focus{
    border-color: #4e83d8;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    background-color: #fff;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: #4e83d8;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
    border: none
}